<?php
/**
 * Created by PhpStorm.
 * User: msc
 * Date: 22.06.18
 * Time: 18:47
 */

// ### Copy this file to config.php and insert the local passwd ###

class Config {
    public $database = array(
        'dsn' => 'mysql:host=localhost;dbname=invoice;charset=utf8mb4',
        'username' => 'invoice',
        'passwd' => ''  // replace with local password
    );
    public $pdflatex_path = '/usr/bin/pdf';  // Ubuntu
    //public $pdflatex_path = '/usr/bin/local/pdflatex';  // MacOS
}
